<h1>Good Bye!</h1>
<p>
    It was nice having you here.
</p>
<%if false%>
<p>
    Say <a href="/say/hello">Hello</a>
</p>
<%end%>
<%= say_hello_path %>
<br/>
Say <%= link_to "Hello!", say_hello_path %>
