<div class="card">
  <div class="card-header">
    <h2>Editando Libro</h2>
  </div>
  <div class="card-body">
    <%= render 'form', book: @book %>
  </div>
</div>

<%= link_to 'Mostrar', @book %> |
<%= link_to 'Atrás', books_path %>
